 #name{
 	font-family: "Arial Black", sans-serif;
   font-size: 1.5em;
   letter-spacing: -1px;
   color: orange;
 }
 #logo{
 	font-size: 20px;
 	font-weight: bold;
 }
 a{
 	color: white;
 	font-size: 20px;
 	font-weight: bold;
 }
 a:hover{
 	color: orange;
 	text-decoration: none;
 	transition-duration:.3s;
 }
 #logo{
 	float: left;
 	padding-left: 5em;
 }
 .bgc{
   background-color: black;
   box-shadow: 0px 5px 20px orange;
 }
 #bg{
   background-image: url(images/bg.jpg);
 }
 .welcome{
   text-align: center;
   margin: 9.5em;
   color: white;
   transition-duration:0.9s;
   font-size: 1.8vw;
   font-weight: bold;
 }
 #sa{
   font-family: "Arial Black", sans-serif;
   letter-spacing: -1px;
   color: orange;
 }
 .footer{
  margin-top: 50px;
  position: fixed;
  bottom: 0px;
  background-color: black;
  width: 100%;
  text-align: center;
  color: white;
  display: block;
}
.imgam{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#cv{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 70px;
  margin-bottom: 80px;
}
#cv:hover{
  color: orange;
  transition-duration:.9s;
}
#port{
  color: white;
  text-align: center;
  margin-top: 200px;
  font-size: 30px;
  font-weight: bold;
  }
hr{
  margin-top: 50px;
  border-top: 5px dotted orange;
  margin-bottom: 20px;
}
.sk{
  margin-top: 50px;
  color: white;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.flex-container > div {
  width: 50%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  margin-bottom: 20px;
}
.a{
  position: absolute;
  display: inline-block;
}
.mywo{
  float: right;
}
.imgpo{
  width: 100px;
  height: 100px;
}
input[type=text], textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
}

input[type=submit] {
  background-color:black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: orange;
  transition-duration:.5s;
}

.container1 {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: #282C35;
  padding: 20px;
  color: orange;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram{
  background: #D31B46;
  color: white;
}
.fa-github{
  background: #212529;
  color: white;
}


